header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 104px;

    & .menu {
        display: none;
    }

    & .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 36px;
        font-weight: 600;
        color: var(--pink);

        & .logo-icon {
            width: 33px;
            height: 33px;
            border-radius: 5px;
            background-color: var(--pink);
            position: relative;
            

            &::after {
                content: "";
                width: 8px;
                height: 8px;
                border-top: 4px solid #FFF;
                border-right: 4px solid #FFF;
                position: absolute;
                top: 10px;
                left: 3px;
                transform: rotate(45deg);
            }

            &::before {
                content: "";
                width: 8px;
                height: 3px;
                background-color: #FFF;
                position: absolute;
                top: 21px;
                left: 18px;
            }
            &:hover::before {
                animation: piscar linear infinite 600ms;
                -webkit-animation: piscar linear infinite 600ms;
                -moz-animation: piscar linear infinite 600ms;
                -ms-animation: piscar linear infinite 600ms;
                -o-animation: piscar linear infinite 600ms;
            }
        }
    }

    & .buscar {
        flex: 1;
        margin-left: 30px;
        margin-right: 30px;
        background-color: #47474710;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        & input {
            width: 100%;
            height: 60px;
            background-color: transparent;
            padding-left: 16px;
            border: 2px solid transparent;
            transition-duration: 200ms;
            border-radius: 5px;
            font-size: 16px;
            letter-spacing: .75px;

            &:focus {
                border-color: var(--pink);
            }
        }

        & button {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(-45deg);
            background-color: transparent;
            cursor: pointer;

            &::after {
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 10px;
                border: 2px solid #47474740;
                position: absolute;
                top: 21px;
                left: 21px;
            }
            &:hover::after {
                border-color: var(--pink);
            }

            &::before {
                content: "";
                width: 2px;
                height: 8px;
                background-color: #47474740;
                position: absolute;
                top: 40px;
                left: 30px;
            }

            &:hover::before {
                background-color: var(--pink);
            }
        }
    }

    & .acoes {
        display: flex;
        gap: 30px;
        align-items: center;
        
        & a {
            display: block;
            line-height: 40px;
            color: #474747;
            font-size: 14px;
        }
        
        & a.underlined {
            text-decoration: underline;
        }

        & a.btn {
            text-decoration: none;
            background-color: var(--pink);
            padding: 0 26px;
            color: #ffffff;
            font-weight: bold;
            border-radius: 5px;
        }

        & h3 {
            font-size: 16px;
            text-align: right;

            & span {
                display: block;
                font-size: 14px;
                color: #777777;
                cursor: pointer;
                transition-duration: 200ms;

                &:hover {
                    color: var(--pink);
                }
            }
        }

        & .carrinho {
            position: relative;

            & span {
                background-color: var(--red);
                position: absolute;
                top: -4px;
                left: 16px;
                font-size: 10px;
                color: white;
                font-weight: bold;
                line-height: 16px;
                padding: 0 4px;
                text-align: center;
                border-radius: 10px;
            }
        }
    }

    
    & nav {
        
        width: 100%;
        margin-top: 30px;
        
        & ul {
            display: flex;
            gap: 32px;
        }

        & a {
            color: #474747;
            line-height: 26px;
            display: block;
        }
        
        & a:hover {
            color: var(--pink);
        }

        & a.active {
            color: var(--pink);
            font-weight: bold;
            border-bottom: 3px solid var(--pink);
        }
    }
}

@keyframes piscar {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}



@media only screen and (max-width: 480px) {
    header {
        padding: 20px;
    }

    header .menu {
        display: flex;
    }

    header .logo {
        font-size: 26px;
        flex: 1;
        justify-content: center;
        padding-left: 2em;
    }

    header .logo-icon {
        width: 18px;
        height: 18px;
    }

    header .buscar {
        display: none;
    }

    header .acoes a {
        display: none;
    }

    header nav {
        display: none;
    }
}