*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.sect2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #585656;
}

.logo2{
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #ab226d;
    position: absolute;
    overflow: hidden;
    animation: logo2 2s infinite alternate;
}

.logo2 .maiorq2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
}
.logo2 .maiorq2::after,
.logo2 .maiorq2::before{
    content: "";
    width: 30px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.logo2 .maiorq2::before{
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
}
.logo2 .underline2{
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

@keyframes logo2{
    0% {
        transform: translateY(0px);
        box-shadow: 0px 50px white;
    }
    100% {
        transform: translateY(100px);
        box-shadow: 0px -50px white;
    }
}
